Repository gardener/vpn2, pull requests merged in 2024-11, with the labels that each got.

#112 add dual stack support
  cmd/vpn_client/app/app.go
  cmd/vpn_server/app/firewall.go
  go.sum
  pkg/config/pathcontroller.go
  pkg/config/vpn-client.go
  pkg/config/vpn-server.go
  pkg/openvpn/assets/client-config.template
  pkg/openvpn/assets/server-config.template
  pkg/openvpn/assets/server-for-client-config.template
  pkg/openvpn/config.go
  pkg/openvpn/config_client.go
  pkg/openvpn/config_client_test.go
  pkg/openvpn/config_server.go
  pkg/openvpn/config_server_test.go
  pkg/vpn_client/iptables.go
  pkg/vpn_server/values.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/l, area/ipcei

#114 Revert "Simplify config."
  cmd/vpn_client/app/app.go
  pkg/config/pathcontroller.go
  pkg/config/vpn-client.go
  pkg/config/vpn-server.go
  pkg/openvpn/assets/client-config.template
  pkg/openvpn/assets/server-config.template
  pkg/openvpn/config_client.go
  pkg/openvpn/config_client_test.go
  pkg/openvpn/config_server.go
  pkg/openvpn/config_server_test.go
  pkg/vpn_server/values.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/m

#115 Fix logging for created routes from vpn-path-controller.
  cmd/vpn_client/app/pathcontroller/pathcontroller.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/xs
